<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7XzvjMo6zZO4mZdwxgyJ05kH1D8tdOUo</string>
	<key>GCM_SENDER_ID</key>
	<string>656756128051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WooBi.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-73074</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-73074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656756128051:ios:f3087bb1c47e5e701aa646</string>
</dict>
</plist>